*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.progress {
  position: fixed;
  left: 0;
  height: 5px;
  background-color: red;
  transition: 0.4s;
}

.section {
  width: 100%;
  padding: 1em 0;
}

.container {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.4em;
  font-size: 3rem;
  color: #444;
}

p {
  font-size: 2rem;
  margin-bottom: 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
